beautifulsoup4==4.6.3
breadability==0.1.20
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
cssselect==1.0.3
docopt==0.6.2
feedfinder2==0.0.4
feedparser==5.2.1
Flask==1.0.2
idna==2.7
isort==4.3.4
itsdangerous==1.1.0
jieba3k==0.35.1
Jinja2==2.10
lxml==4.2.5
MarkupSafe==1.0
newspaper3k==0.2.8
nltk==3.3
numpy==1.22.0
Pillow==5.3.0
PyJWT==1.6.4
PySocks==1.6.8
python-dateutil==2.7.5
pytz==2018.6
PyYAML==3.13
requests==2.20.0
requests-file==1.4.3
scipy==1.1.0
six==1.11.0
sumy==0.7.0
tinysegmenter==0.3
tldextract==2.2.0
twilio==6.19.1
urllib3==1.24
webencodings==0.5.1
Werkzeug==0.14.1
yapf==0.24.0
