{% extends 'base.html' %}

{%block header%}
  <h1>NDQ: About</h1>
{% endblock %}

{% block content %}
  <div class = "about">
    <p> News Done Quick (NDQ) was created because the Salty Software team is too lazy to read actual articles.
        This handy little tool lets you sign up, then sends you a link to a personalized feed of summarized news articles from a
        variety of reputable sources.
        Or, if you don't feel like signing up, just browse the summarized articles (updated every 15 minutes) from the main page.
        Created with love by
        <a href = "https://salty.software/">Salty Software</a>
    </p>
  </div>
{% endblock %}
