{% extends 'base.html' %}


{%block header%}
<h1>NDQ: About</h1>
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="../static/about.css">
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <p class="text">News in 10 minutes or less. </p>
    </div>
    <div class="col-3"></div>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <p class="text">
        News Done Quick (NDQ) was created because the guys at Salty Software are too lazy to read actual news articles.
        This handy little tool lets you sign up, then sends you a link to a personalized feed of summarized news articles from a
        variety of reputable sources.
      </p>
      <p class="text">
        Or, if you don't feel like signing up, just browse the summarized articles (updated every 15 minutes) from the main page.
      </p>
      <p class="text">Created (with love) by:</p>
      <a href="https://salty.software/" class="link">
        salty software
      </a>
    </div>
    <div class="col-3"></div>
  </div>
</div>

{% endblock %}