{% extends "base.html" %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{%block header%}
  <h1>NDQ: News</h1>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/index.css">

<form action="/user/signup" method="post">

  <legend class="phone_legend">Enter a phone number: </legend>
  <input type = "text" name = "phone" required>

  <legend class="topic_select_legend">Choose your topics...</legend>
  <div class = "topic_select">
    <div class="ck-button" id="world">
       <label>
          <input type="checkbox" name="topics[]" value="world">
          <span id = "">World</span>
       </label>
    </div>
    <div class="ck-button" id="local">
       <label>
          <input type="checkbox" name="topics[]" value="local">
          <span>Local</span>
       </label>
    </div>
    <div class="ck-button" id="sports">
       <label>
          <input type="checkbox" name="topics[]" value="sports">
          <span>Sports</span>
       </label>
    </div>
    <div class="ck-button" id="science">
       <label>
          <input type="checkbox" name="topics[]" value="science">
          <span>Science</span>
       </label>
    </div>
  </div>
  <div class="topic_select">
    <div class="ck-button" id="food">
       <label>
          <input type="checkbox" name="topics[]" value="food">
          <span>Food</span>
       </label>
    </div>
    <div class="ck-button" id="entertainment">
       <label>
          <input type="checkbox" name="topics[]" value="entertainment">
          <span>Entertainment</span>
       </label>
    </div>
    <div class="ck-button" id="politics">
       <label>
          <input type="checkbox" name="topics[]" value="politics">
          <span>Politics</span>
       </label>
    </div>
    <div class="ck-button" id="technology">
       <label>
          <input type="checkbox" name="topics[]" value="Technology">
          <span>Tech</span>
       </label>
    </div>
  </div>

  <legend class = "frequency_select_legend">And how often you want the news!</legend>
  <div class="frequency_select">
    <label class="freq_container"> 8 hrs
      <input type="checkbox" name = "frequency" value="8hr">
      <span class="checkmark"></span>
    </label>

    <label class="freq_container"> Daily
      <input type="checkbox" name = "frequency" value="24hr">
      <span class="checkmark"></span>
    </label>

    <label class="freq_container"> Weekly
      <input type="checkbox" name = "frequency" value="168hr">
      <span class="checkmark"></span>
    </label>
  </div>

  <legend>When do you want your first issue?</legend>
  <select name="firstDelivery" required>
    <option value="now">Now</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
  </select>

  <input type="submit" value="Sign up!">
</form>

  {% for article in articles %}
    {% if loop.first %}
      <article class = "article">
        <header>
          <div>
            <h1>{{article["headline"]}}</h1>
            <div class = "credits">
              <a href={{article["link"]}}>
                by {{article["author"]}}
              </a>
            </div>
          </div>
        </header>
        <img src={{article['imglink']}}>
        <p class="body">{{ article['body'] }}</p>
      </article>


    {% endif %}

    {% if not loop.first %}
      <article class = "article">
        <header>
          <div>
            <h1>{{article["headline"]}}</h1>
            <div class = "credits">
              <a href={{article["link"]}}>
                by {{article["author"]}}
              </a>
            </div>
          </div>
        </header>
        <img src={{article['imglink']}} alt="Italian Trulli">
        <p class="body">{{ article['body'] }}</p>
      </article>
    {% endif %}

    {% if not loop.last %}
      <hr>
    {% endif %}

  {% endfor %}
{% endblock %}
