.about {
  align-self: center;
  margin: auto;
  font-family: serif;
  font: Georgia;
  line-height: 1.4em;
  font-weight: 200;
  font-size: 150%;
  color: black;
}
.text {
  text-align: center;
  margin: 0;
  font-size: 1.1em;
  margin-bottom: 1em;
}
.link {
  text-align: center;
  color: black;
  font-size: 1.5em;
  margin-top: 2em;
  font-family: monospace;
  font: courier;
  font-weight: 800;
  margin: auto;
  display: block;
  text-decoration: none;
}
.link:hover {
  text-shadow: 1px 1px #ff0000;
  color: orange;
}
