
.ck-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border-style: solid;
    overflow:auto;
    float:left;
}

.ck-button label {
    float:left;
    width: 6em;
    height: 3em;
}

.ck-button label span {
    font-size: 95%;
    text-align:center;
    padding:1em .05em;
    display:block;
}

.ck-button label input {
    position:absolute;
    top:-20px;
}

.topic_select{
  border-style: hidden;
  align-self: center; margin: auto;
  width: 28em;
  height:4em;
}

#world input:checked + span{
  transition: 0.3s;
  background-color: blue;
  color:#fff;
}

#local input:checked + span{
  transition: 0.3s;
  background-color: purple;
  color:#fff;
}

#sports input:checked + span{
  transition: 0.3s;
  background-color: red;
  color:#fff;
}

#science input:checked + span{
  transition: 0.3s;
  background-color: gray;
  color:#fff;
}

#food input:checked + span{
  transition: 0.3s;
  background-color: #D0E32C;
  color:#fff;
}

#entertainment input:checked + span{
  transition: 0.3s;
  background-color: hotpink;
  color:#fff;
}

#politics input:checked + span{
  transition: 0.3s;
  background-color: brown;
  color:#fff;
}

#technology input:checked + span{
  transition: 0.3s;
  background-color: green;
  color:#fff;
}

.phone_legend{
  font-size: 150%; text-align: center;
  border-style: hidden;
  align-self: center; margin: auto;
  width: 60%;
}

.topic_select_legend {
  font-size: 150%; text-align: center;
  border-style: hidden;
  align-self: center; margin: auto;
  width: 60%;
}

.frequency_select_legend {
  font-size: 150%; text-align: center;
  border-style: hidden;
  align-self: center; margin: auto;
  width: 60%;
}

.frequency_select {
  align-self: center; margin: auto;
  width: 5%;
}

/* Customize the label (the container) */
.freq_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.freq_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  font-size:0;
  height: 0;
  width: 0;
}

.freq_container {
  display: inline-block;
  font-size: 95%;
  color: black;
  align-self: center;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.freq_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.freq_container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.freq_container input:checked ~ .checkmark:after {
  display: block;
}
