input[type="text"] {
  padding: 10px;
  width: 94%;
  margin: 3%;
  font-size: 1.4em;
}

input[type="submit"] {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

form {
  margin: 1em;
}

.body {
  line-height: 2em;
  font-size: 1.1em;
}

.article-img {
  margin-bottom: 18px;
  margin-top: 12px;
}

.hidden {
  display: none;
}

.ck-button {
  overflow: hidden;
  padding: 0;
}

.ck-button label {
  margin: 3%;
  border-radius: 4px;
  background-color: #efefef;
  overflow: hidden;
  width: 94%;
}

.ck-button label span {
  padding: 1em 0;
  margin: 0;
  display: block;
}
/*
#world input:checked + span {
  transition: 0.3s;
  background-color: #2b77b5;
  color: #fff;
}

#local input:checked + span {
  transition: 0.3s;
  background-color: #2b77b5;
  color: #fff;
}

#sports input:checked + span {
  transition: 0.3s;
  background-color: #2b77b5;
  color: #fff;
}

#science input:checked + span {
  transition: 0.3s;
  background-color: #2b77b5;
  color: #fff;
}

#food input:checked + span {
  transition: 0.3s;
  background-color: #2b77b5;
  color: #fff;
}

#entertainment input:checked + span {
  transition: 0.3s;
  background-color: #2b77b5;
  color: #fff;
}

#politics input:checked + span {
  transition: 0.3s;
  background-color: #2b77b5;
  color: #fff;
}

#technology input:checked + span {
  transition: 0.3s;
  background-color: #2b77b5;
  color: #fff;
}
*/

.ck-button input:checked + span {
  transition: 0.3s;
  background-color: #4caf50;
  color: #fff;
}

.frequency_select_legend {
  font-size: 150%;
  border-style: hidden;
}

/* Customize the label (the container) */
.radio-container {
  cursor: pointer;
  font-size: 1.3em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  font-size: 0;
  height: 0;
  width: 0;
}

.radio-container {
  color: black;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #4caf50;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  display: none;
}

/* Show the checkmark when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}
