* {
  font-family: Georgia;
  box-sizing: border-box;
}

h1 {
  font-size: 4em;
  text-align: center;
  display: inline;
  margin-bottom: 0;
}

.header-image {
  height: 4em;
  display: inline;
  vertical-align: middle;
  margin-right: 12px;
}

#header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flash {
  font-size: 1em;
  margin: 1em;
}
